body{font-family:Segoe UI,sans-serif;background:#eef2f7;}
.main-container{max-width:700px;margin:40px auto;background:white;padding:30px;border-radius:10px;}
.btn{padding:10px 15px;background:#4facfe;color:white;border:none;border-radius:6px;cursor:pointer;}
.plan-box{background:#f7f9fc;padding:15px;margin-top:20px;border-left:5px solid #4facfe;}
.tip-box{background:#eafaf1;padding:15px;margin-top:20px;border-left:5px solid #2ecc71;}
